# Node
node_modules/
npm-debug.log*

# Angular build
/frontend/dist/
/frontend/.angular/

# Java build
backend/target/
backend/*.jar
backend/*.war

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Profil local Spring (identifiants en clair, ne pas committer)
**/application-local.yml

# Logs
*.log